/* src/components/Button/ViewButton.css */
.view-button {
    background-color: #f7b500;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: auto;
    cursor: pointer;
    display: flex; /* Use flex para alinhar o ícone e o texto */
    align-items: center; /* Alinhe verticalmente */
    justify-content: center; /* Alinhe horizontalmente */
  }
  
  .view-button:hover {
    background-color: #e6a100;
  }
  