.main-container {
  background-color: #f0f0f0;
  padding: 20px;
  min-height: 100vh;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

/* Estilos para telas pequenas (mobile) */
@media (max-width: 600px) {
  .product-list {
      gap: 10px;
      padding: 0;
  }
}

/* Estilos para telas médias (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .product-list {
      gap: 15px;
      padding: 5px;
  }
}
